.big-button{
    background: $purple;
    border: none;
    color:white;
    font-weight: bold;
    font-size: $l-size;
    padding: 2.4rem;
    width: 100%;
    border-bottom: .6rem solid darken($purple,10%);
    margin-bottom: $s-size;
}

@media (min-width : $desktop-breakpoint){
    .big-button{
        margin-bottom: $xl-size;
    }
}


.big-button:disabled {
    opacity: .5;
}

.button {
    background: $purple;
    border :none;
    color: white;
    font-weight: 500;
    border-bottom: .3rem solid darken($purple,10%);
    padding: $s-size;
}

.button--link {
    background: none;
    border:none;
    padding : 0;
    color: $off-white;

}